.grid > * {
  float: left;
  padding-left: $gutter-left;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.g-33 {
  width: 33%;
}

.g-50 {
  width: 50%;
}

.g-66 {
  width: 67%;
}

@media only screen and (min-width: $narrow-bp) and (max-width: $desk-bp) {
  .game {
    width: 50%
  }
}

/* Mobile */
@media only screen and (max-width: $narrow-bp) {
  .g-66, .g-33 {
    width: 100%;
  }
}
