@import "_grid.scss";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.site {
  padding-bottom: $gutter-bottom;
}

/* Header */
header { 
  .main-nav {
    height: 45px;
    width: 100%;
    display: table;
    a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

.logo {
  text-align: center;
  padding-top: $gutter-bottom;
  padding-bottom: $gutter-bottom;
}

/* Main Page */
.content {
  padding-top: $subheader-size;
  p {
    margin-bottom: 1em;
  }
}

.post {
  margin-bottom: $gutter-bottom;
  padding-right: $gutter-left * 2;
  blockquote {
    margin-top: $gutter-bottom;
    margin-left: $gutter-left * 2;
    margin-bottom: $gutter-bottom;
    padding: 10px;
    & > p {
    margin-bottom: 0;
    }
  }
  figure {
    padding: $gutter-bottom $gutter-bottom 0 $gutter-bottom;
    border-width: 2px;
    margin-bottom: $gutter-bottom;
    img {
      max-width: 100%;
    }
    figcaption {
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.title {
  margin-bottom: $gutter-bottom;
}

/* Progress page */
.game__img {
  max-width: 100%;
}

.status {
  padding: 10px;
}

/* Aside */
aside {
  padding-top: $subheader-size;
  margin-bottom: $gutter-bottom;
}

.aside-block {
  padding: 20px;
  margin-bottom: $gutter-bottom;
}

.current__game {
  margin-bottom: $gutter-bottom;
}

.current__game, .current__verdict {
  text-align: center;
}

/* Footer */
hr {
  margin: 0 $gutter-left $gutter-bottom;
}
.contact {
  text-align: center;
}

/* Media queries */
@media only screen and (min-width: $desk-bp) {
  .game:nth-of-type(3n+1) {
    clear: left;
  }
}

@media only screen and (min-width: $narrow-bp) and (max-width: $desk-bp) {
  .game:nth-of-type(2n+1) {
    clear: left;
  }
}

@media only screen and (max-width: $narrow-bp) {
  .title {
    text-align: center;
  }
  header .g-66 {
    margin-bottom: $gutter-bottom;
  }
  .game {
    padding-left: 0;
    img {
      display: block;
      margin: 0 auto;
      padding-top: $gutter-bottom;
    }
  }
}