$base-font-size: 21px;
$main-header-size: $base-font-size * 1.5;
$subheader-size: $base-font-size * 1.2;

// Grid
$gutter-left: 10px;
$gutter-bottom: 20px;

// Color scheme
$primary-color: #333333;
$contrast-color: #CCCCCC;
$dark-blue: #353E77;
$emphasis-green: #4F7F10;
$dark-green: #364F00;

// fonts
$text-font: Calluna-Regular, sans-serif;
$display-font: Merriweather, serif;

// Breakpoints
$narrow-bp: 480px;
$desk-bp: 800px;

// Misc
$panel-radius: 5px;